<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Twitter</a><br />
<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Sent</th>
        <th>Action</th>
    </tr>
    <tr th:each="course : ${twitters}">
        <td th:each="twitter : ${twitters}"></td>
        <td th:text="${twitter.title}"></td>
        <td th:text="${twitter.content}"></td>
        <td th:text="${twitter.sent}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${twitter.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${twitter.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${twitter.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>